<%- include('./partials/header.ejs');%>
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <div class="ui green inverted segment">Tâm Lý - Kỹ Năng Sống</div>
                <!-- <div class="container-fluid border border-1 rounded" style="box-shadow:2px 1px 15px 1px #888888;"> -->
                <div class="container-fluid border border-1 rounded">
                    <div class="row mt-3">
                        <% allBookItems.forEach(bookitem=> {%>
                            <div class="col-sm-3">
                                <div class="card">
                                    <a id='count' href="/ebook/<%=bookitem._id %>"><img class= " card-img-top" src="<%=bookitem.image %>"></a>
                                </div>
                                <div class="card-body">
                                    <a href="/ebook/<%=bookitem._id %>" class="card-title" style="font-size:12px;text-align: center;">
                                        <%= bookitem.name %>
                                    </a>
                                </div>
                            </div>

                            <%});%>
                    </div>

                </div>

                <!-- <div class="card">
                    <h5 class="card-header" style="background-color:green">Tâm Lý - Kỹ Năng Sống</h5>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mt-3">
                                <% allBookItems.forEach(bookitem=> {%>
                                    <div class="col-sm-3">
                                        <div class="card">
                                            <a<img class="card-img-top" src="<%=bookitem.image %>">
                                        </div>
                                        <div class="card-body">
                                            <h3 class="card-title" style="font-size:12px;text-align: center;">
                                                <%= bookitem.name %>
                                            </h3>
                                        </div>
                                    </div>

                                    <%});%>
                            </div>

                        </div>
                    </div>
                </div> -->


            </div>
            <div class="col-md-3 sidebar">
                <div class="ui green inverted segment">sidebar</div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs');%>